
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header{
    width: 100vw;
    height: 85vh;
    background-image: url(image/serviços.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content{
    margin-bottom: 150px;
    color: rgb(255, 255, 255);
    text-align:center;
}

.header-content h1{
   font-size: 60px;
    min-height: 160px;  
}

.header-content h2{ 
    font-size: 20px;
    min-height: 100px;
}



/*serviços*/

section{
    width: 80%;
    margin: 150px auto;
}

.title{
    text-align: center;
    font-size: 20px ;
}




/* box */

.below{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 300px;
}

.box{
    width: 25%;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2%;
}


/*imagem*/
img{
    width: 100%;
    height: auto;
}



/*box2*/

.below2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 300px;
}

.box{
    width: 25%;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2%;
}

